.createModalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.selectModelForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelSelection {
  width: 200px;
  height: 50px;
}

.modelSelectButton {
  background-color: #4d76c9;
  border-color: #4d76c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelSelectButton:hover {
  background-color: #4d76c9 !important;
  border-color: #4d76c9 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeModelSelectButton {
  background-color: #3c5ea3 !important;
  border-color: #4d76c9 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectModelText {
  margin-right: 10px;
  margin-left: -30px;
}

.selectDifficultyForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.selectDifficultyText {
  margin-right: 10px;
  margin-left: -55px;
}

.difficultySelection {
  width: 200;
  height: 50px;
}

.difficultySelectButton {
  background-color: #4d76c9;
  border-color: #4d76c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficultySelectButton:hover {
  background-color: #4d76c9 !important;
  border-color: #4d76c9 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeDifficultySelectButton {
  background-color: #3c5ea3 !important;
  border-color: #4d76c9 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}