.homeContainer {
  height: 100%;
}

.logoControlsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -70%);
}

.homeControlsContainer {
  background-color: midnightblue;
  padding: 2em;
  border-radius: 20px;
}

.userNameInput {
  max-width: 300px;
  height: 3em;
  font-size: 20px;
  text-align: center;
}

.homeActionsButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.createRoomButton {
  width: 100%;
  height: 3em;
  background-color: darkturquoise;
  border-color: darkturquoise;
  font-weight: bold;
}

.joinRoomButton {
  width: 100%;
  height: 3em;
  background-color: mediumslateblue;
  border-color: mediumslateblue;
  font-weight: bold;
}

.createRoomButton:hover {
  background-color: #2db2d6;
  border-color: #2db2d6;
}

.joinRoomButton:hover {
  background-color: #6d5edb;
  border-color: #6d5edb;
}