.wordGuessDisplayContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  user-select: none;
  text-align: center;
}

.wordDisplay {
  font-size: 50px;
  font-family: sans-serif;
}